.tableContainer {
  margin-bottom: 10px;

.tableRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .tableColum {
    padding: 5px;
  }

  //
  // table
  //
  &:first-child {
    font-weight: 600;
  }

  .tableColum {
    border-top: 1px solid;
    border-left: 1px solid;
  }

  .tableColum:last-child {
    border-right: 1px solid;
  }

  &:last-child {
    border-bottom: 1px solid;
  }
}
}